<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HostsFileEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HostsFileEditor.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 9pt</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>730, 430</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="RememberWindowLayout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGridlines" serializeAs="String">
                <value>True</value>
            </setting>
        </HostsFileEditor.Properties.Settings>
    </userSettings>
</configuration>